@model ICI.ProvaCandidato.Web.Models.NoticiaTag

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Tem certeza de que deseja excluir isto?</h3>
<div>
    <h4>Tag de Noticia</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NoticiaTagId" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
